.hovershadow {
    box-shadow: 5px 8px 8px #b8b8b8;
}

.hovershadow1 {
    box-shadow: 0px 0px 8px 8px #b8b8b8;
}

.loading-indicator {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    color: white;
    padding: 20px;
    
}