<div class="mb-6">
    <p class="my-6 text-center text-2xl md:text-4xl font-extrabold text-[#000000]">
        <span class="border-b-2 border-[#bf3fff] text-[#bf3fff]">
            Contact Us
        </span>
    </p>
    <p class="text-center text-sm md:text-base text-gray-500 mx-5">
        Connect with Navalogy Club for all your inquiries and share your passion for naval exploration. We're here to
        make waves in maritime discovery!
    </p>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-6 mb-8 items-center ">
    <div
        class="mb-6 md:mb-0 md:col-span-1 lg:col-span-1 sm:h-96 sm:w-96 h-80 w-80 md:w-auto md:h-auto lg:w-96 lg:h-96 mx-auto ">
        <img class="" src="./../../../assets/photos/Data extraction-amico.png" alt="Data extraction">
    </div>
    <div class="md:col-span-2 lg:col-span-1  hovershadow1 bg-[#fbf3ff] rounded-lg py-4  px-6">
        <p class="my-5 text-center sm:text-xl text-lg text-[#000000]">
            <span class="border-b-2 border-[#bf3fff] font-extrabold text-[#bf3fff]">
                Get in Touch with Our Team
            </span>
        </p>
        <div *ngIf="submitting" class="loading-indicator rounded-full z-50">
            Please wait...
        </div>
        <form class="grid grid-cols-6 md:gap-5 gap-4 md:py-6 py-3 md:h-auto">
            <div class="col-span-3 rounded-md hovershadow">
                <label for="name" class="sr-only">Name</label>
                <input id="name" name="name" type="text" required [(ngModel)]="contactus.name"
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-gray-500 rounded-md focus:outline-none focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Name">
            </div>
            <div class="col-span-3 rounded-md hovershadow">
                <label for="email" class="sr-only">Email</label>
                <input id="email" name="email" type="email" required [(ngModel)]="contactus.email"
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-gray-500 rounded-md focus:outline-none focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Email">
            </div>
            <div class="col-span-6 rounded-md hovershadow">
                <label for="Number" class="sr-only">Number</label>
                <input id="Number" name="Number" type="tel" required [(ngModel)]="contactus.phoneNumber"
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-gray-500 rounded-md focus:outline-none focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Phone Number">
            </div>
            <div class="col-span-6 rounded-md hovershadow">
                <label for="message" class="sr-only">Message</label>
                <textarea id="message" name="message" rows="4" required [(ngModel)]="contactus.msj"
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-gray-500 rounded-md focus:outline-none focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Message"></textarea>
            </div>
            <button type="button" (click)="submit()"
                class="col-span-6 mx-auto z-0 font-semibold hover:text-[#b433ff] text-white hover:scale-105 h-10 w-40 hover:bg-[#ffffff] bg-[#b433ff] text-center rounded-xl mt-4 md:mt-0">
                Submit
            </button>
        </form>

    </div>
</div>