<div class="py-10">
  <div class=" text-center">
    <p class=" text-4xl  text-[#bf3fff] font-semibold "><span class="border-b-2 border-[#b433ff]">Members</span></p>
  </div>
  <div
    class="grid xl:grid-cols-5 md:grid-cols-4 sm:grid-cols-4 grid-cols-3 place-items-center xl:gap-11 md:gap-5 sm:gap-4 gap-3 mb-3 mt-10">
    <button id="Mentor1"
      class="buttoncolor xl:h-12 xl:w-44 md:w-36 md:h-8 sm:h-7 sm:w-28 w-24 h-6 bg-[#fbf3ff] hovershadow hover:bg-[#b433ff] text-center xl:rounded-b-lg xl:rounded-t-lg rounded-b-md rounded-t-md"
      (click)="Mentor()">
      <p class="xl:py-[8px] hover:text-white xl:text-lg md:text-sm text-[8px] font-semibold text-[#b433ff]">Mentor</p>
    </button>
    <button id="CurrentScholars1"
      class="xl:h-12 xl:w-44 md:w-36 md:h-8 sm:h-7 sm:w-28 w-24 h-6 bg-[#fbf3ff] hovershadow hover:bg-[#b433ff] text-center xl:rounded-b-lg xl:rounded-t-lg rounded-b-md rounded-t-md"
      (click)="CurrentScholars()">
      <p class="xl:py-[8px] hover:text-white xl:text-lg md:text-sm text-[8px] font-semibold text-[#b433ff]">Current Scholars</p>
    </button>
    <button id="Currentmembers1"
      class="xl:h-12 xl:w-44 md:w-36 md:h-8 sm:h-7 sm:w-28 w-24 h-6  bg-[#fbf3ff] hovershadow hover:bg-[#b433ff] text-center xl:rounded-b-lg xl:rounded-t-lg rounded-b-md rounded-t-md"
      (click)="Currentmembers()">
      <p class="xl:py-[8px] hover:text-white xl:text-lg md:text-sm text-[8px] md:font-semibold text-[#b433ff]">Current Members</p>
    </button>
    <button id="foundingmembers1"
      class="xl:h-12 xl:w-44 md:w-36 md:h-8 sm:h-7 sm:w-28 w-24 h-6 bg-[#fbf3ff] hovershadow hover:bg-[#b433ff] text-center xl:rounded-b-lg xl:rounded-t-lg rounded-b-md rounded-t-md"
      (click)="foundingmembers()">
      <p class="xl:py-[8px] hover:text-white xl:text-lg md:text-sm text-[8px] font-semibold text-[#b433ff]">Founding Members</p>
    </button>
    <button id="pastmembers1"
      class="xl:h-12 xl:w-44 md:w-36 md:h-8 sm:h-7 sm:w-28 w-24 h-6 bg-[#fbf3ff] hovershadow hover:bg-[#b433ff] text-center xl:rounded-b-lg xl:rounded-t-lg rounded-b-md rounded-t-md"
      (click)="pastmembers()">
      <p class="xl:py-[8px] hover:text-white xl:text-lg md:text-sm text-[8px] font-semibold text-[#b433ff]">Past Members</p>
    </button>
  </div>

  <div class="bg-[#b433ff] h-[2px] rounded-full  w-full mb-10">
  </div>
  <div class="hidden activeclass gap-8 flex-wrap justify-center " id="Mentor">
    <div *ngFor="let member of getMentor()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="CurrentScholars">
    <div *ngFor="let member of getCurrentScholars()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="Currentmembers">
    <div *ngFor="let member of getCurrentmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="foundingmembers">
    <div *ngFor="let member of getfoundingmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="pastmembers">
    <div *ngFor="let member of getpastmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
</div>