<div class="py-10">
  <div class=" text-center">
    <p class=" sm:text-4xl text-3xl  text-[#bf3fff] font-semibold "><span
        class="border-b-2 border-[#b433ff]">Members</span></p>
  </div>
  <div class="flex justify-center flex-wrap xl:gap-14 lg:gap-8 gap-4 mb-3 mt-10 place-items-center">
    <button id="CurrentScholars1"
      class=" sm:w-40 w-32 sm:text-base text-xs h-10 bg-[#fbf3ff] hover:bg-[#b433ff] hovershadow rounded-lg"
      (click)="CurrentScholars()">
      <p class="py-2 hover:text-white font-semibold text-[#b433ff]">Current Scholars</p>
    </button>
    <button id="Currentmembers1"
      class=" sm:w-40 w-32 sm:text-base text-xs h-10 bg-[#fbf3ff] hover:bg-[#b433ff] hovershadow rounded-lg"
      (click)="Currentmembers()">
      <p class="py-2 hover:text-white font-semibold text-[#b433ff]">Current Members</p>
    </button>
    <button id="Mentor1"
      class="buttoncolor sm:w-40 w-32 sm:text-base text-xs h-10 bg-[#fbf3ff] hover:bg-[#b433ff] hovershadow rounded-lg"
      (click)="Mentor()">
      <p class="py-2 hover:text-white font-semibold text-[#b433ff]">Mentor</p>
    </button>
    <button id="foundingmembers1"
      class=" sm:w-40 w-32 sm:text-base text-xs h-10 bg-[#fbf3ff] hover:bg-[#b433ff] hovershadow rounded-lg"
      (click)="foundingmembers()">
      <p class="py-2 hover:text-white font-semibold text-[#b433ff]">Founding Members</p>
    </button>
    <button id="pastmembers1"
      class=" sm:w-40 w-32 sm:text-base text-xs h-10 bg-[#fbf3ff] hover:bg-[#b433ff] hovershadow rounded-lg"
      (click)="pastmembers()">
      <p class="py-2 hover:text-white font-semibold text-[#b433ff]">Past Members</p>
    </button>
  </div>


  <div class="bg-[#b433ff] h-[2px] rounded-full  w-full mb-10">
  </div>
  <div class="hidden activeclass gap-8 flex-wrap justify-center " id="Mentor">
    <div *ngFor="let member of getMentor()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="CurrentScholars">
    <div *ngFor="let member of getCurrentScholars()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="Currentmembers">
    <div *ngFor="let member of getCurrentmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="foundingmembers">
    <div *ngFor="let member of getfoundingmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="pastmembers">
    <div *ngFor="let member of getpastmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
</div>