.deactiveclass{
    display: none;
}
.activeclass{
    display: flex;
}
.buttoncolor{
    background-color: #121212;

}
.hovershadow{
    box-shadow: 5px 10px 10px #b8b8b8;

}
.buttoncolor p{
    color: white;    /* text-decoration: underline #CD85F7; */
}
