<div class="bg-gradient-to-t from-[#ecd4fa] to-[#f6e9fd] fontclass ">

  <app-nav-bar></app-nav-bar>
  <div id="homepage" class="xl:px-32 px-7 "><app-home></app-home></div>
  <div id="aboutuspage" class="xl:px-32 px-7 xl:py-10"><app-aboutus></app-aboutus></div>
  <div id="publicationspage" class="xl:px-32 px-7 xl:py-10"> <app-publications></app-publications></div>
  <div id="portfoliopage" class="xl:px-32 px-7 xl:py-10"> <app-portfolio></app-portfolio></div>
  <div id="teampage" class="xl:px-32 px-7 xl:py-10"><app-team></app-team></div>
  <div id="contactuspage" class="xl:px-32 px-7 xl:py-10"><app-contactus></app-contactus></div>
  <div class=""><app-scrolltop></app-scrolltop></div>
  <app-footer></app-footer>
</div>