.activeclass .textpera {
    display: block;

}
div img {
    
    transition: all 0.4s ease-in;
}
.activeclass div img {
    transform: rotate(180deg);
    
}
.shadowclass {
    box-shadow: 5px 10px 10px #dda3ff;
}
